{% extends 'home/base.html' %}
{% load static %}
{% block body %}
    <!-- Header Start -->
    <div class="container-fluid header bg-white p-0">
        <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
            <div class="col-md-6 p-5 mt-lg-5">
                <h1 class="display-5 animated fadeIn mb-4">Crafting Your Drive Enjoyable And Memorable
                    <span class="text-primary">Is
                        </span> Our Aim
                </h1>
                <p class="animated fadeIn mb-4 pb-2">Enjoy Your Moment With Our Vehicles. <br>We Are The Best
                    Solutions
                    For Vehicle Services. </p>
                <a href="{% url 'accounts:login' %}" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get
                    Started</a>
            </div>
            <div class="col-md-6 animated fadeIn">
                <div class="owl-carousel header-carousel">
                    <div class="owl-carousel-item">
                        <img class="img-fluid" src="{% static 'home/img/car1.jpeg' %}" alt="">
                    </div>
                    <div class="owl-carousel-item">
                        <img class="img-fluid" src="{% static 'home/img/car3.jpeg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Search Start -->
    <form method="get" action="{% url 'home:car_search' %}">
        <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            <div class="container">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-4">
                                <div><h4 class="text-white">Brands</h4></div>
                                <select name="brands" class="form-select border-0 py-3">
                                    <option value="any" selected>ANY</option>

                                    {% for brand in brands %}
                                        <option value="{{ brand.brand }}">{{ brand.brand }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div><h4 class="text-white">Bodies Type</h4></div>
                                <select name="bodies" class="form-select border-0 py-3">
                                    <option value="any" selected>Any</option>
                                    {% for body in bodies %}
                                        <option value="{{ body.body_type }}">{{ body.body_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div><h4 class="text-white">Transmission
                                </h4></div>
                                <select name="tranmissions" class="form-select border-0 py-3">
                                    <option value="any" selected>Any</option>

                                    {% for t in tranmissions %}
                                        <option value="{{ t.transmission }}">{{ t.transmission }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-dark border-0 w-100 py-3" style="margin-top: 38px;">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Search End -->

    <!-- Car List Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                        <h1 class="mb-3">Car Listing</h1>
                        <p>Observe Some Of The Trending Cars.</p>
                    </div>
                </div>
            </div>

            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        {% for car in cars %}
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'home:car_desc' car.id %}"><img class="img-fluid"
                                                                                        src="{{ car.photo.url }}"
                                                                                        alt=""></a>
                                        <div
                                                class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                            {{ car.brand }}
                                        </div>
                                        <div
                                                class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            {{ car.body_type }}
                                        </div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">RS. {{ car.price }}</h5>
                                        <a href="" class="d-block h5 mb-2"
                                           href="">{{ car.name }}</a>
                                        <p>
                                            <i class="fa fa-map-marker-alt text-primary me-2"></i>Km
                                            Driven: {{ car.km_driven }} K.M
                                        </p>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i
                                                class="fas fa-money-bill-wave text-primary me-2"></i>
                                            {% if car.is_price_negotiable %}Negotiable Price{% else %}Fixed
                                                Price{% endif %}</small>

                                        <small class="flex-fill text-center border-end py-2">
                                            <form method="post" action="{% url 'home:car_watchlist' %}">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ car.id }}" name="car_id">
                                                {% if not car in watchlist_properties %}
                                                    <button style="all: unset; cursor: pointer;"><i
                                                            class="far fa-bookmark text-primary me-2"></i> Bookmark
                                                    </button>
                                                {% else %}
                                                    <i class="fas fa-bookmark text-primary me-2"></i> Bookmarked

                                                {% endif %}

                                            </form>

                                        </small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}



                        <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                            <a class="btn btn-primary py-3 px-5"
                               href="{% url 'home:car_search' %}?brands=any&bodies=any&tranmissions=any">Browse More
                                Car</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Property List End -->

    <!-- Category Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Car Types</h1>
                <p>Let's Have A Glance To The Types Of Cars We Offer.</p>
            </div>
            <div class="row g-4">

                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item d-block bg-light text-center rounded p-3"
                       href="{% url 'home:car_search' %}?brands=any&bodies=Sedan&tranmissions=any">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img width="50" height="50"
                                     src="https://cdn-icons-png.flaticon.com/512/1615/1615112.png" alt="" title=""
                                     class="img-fluid loaded"></div>
                            <h6>Sedan</h6>
                            <span>{{ sedan_count }} Cars</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item d-block bg-light text-center rounded p-3"
                       href="{% url 'home:car_search' %}?brands=any&bodies=Coupe&tranmissions=any">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img width="50" height="50"
                                     src="https://cdn-icons-png.flaticon.com/512/2089/2089838.png" alt="" title=""
                                     class="img-fluid loaded"></div>
                            <h6>Coupe</h6>
                            <span>{{ coupe_count }} Cars</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3"
                       href="{% url 'home:car_search' %}?brands=any&bodies=Hatchback&tranmissions=any">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img width="50" height="50"
                                     src="https://cdn-icons-png.flaticon.com/512/683/683088.png" alt="" title=""
                                     class="img-fluid loaded">
                            </div>
                            <h6>Hatchback</h6>
                            <span>{{ hatchback_count }} Cars</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded p-3"
                       href="{% url 'home:car_search' %}?brands=any&bodies=SUV&tranmissions=any">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img width="50" height="50"
                                     src="https://cdn-icons-png.flaticon.com/512/3900/3900619.png" alt="" title=""
                                     class="img-fluid loaded">
                            </div>
                            <h6>SUV</h6>
                            <span>{{ suv_count }} Cars</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item d-block bg-light text-center rounded p-3"
                       href="{% url 'home:car_search' %}?brands=any&bodies=Crossover&tranmissions=any">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img width="50" height="50"
                                     src="https://cdn-icons-png.flaticon.com/512/1085/1085926.png" alt="" title=""
                                     class="img-fluid loaded"></div>
                            <h6>Crossover</h6>
                            <span>{{ crossover_count }} Cars</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item d-block bg-light text-center rounded p-3"
                       href="{% url 'home:car_search' %}?brands=any&bodies=Minivan/Van&tranmissions=any">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img width="50" height="50"
                                     src="https://cdn-icons-png.flaticon.com/512/2844/2844078.png" alt="" title=""
                                     class="img-fluid loaded"></div>
                            <h6>Minivan/Van</h6>
                            <span>{{ mini_van_count }} Cars</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3"
                       href="{% url 'home:car_search' %}?brands=any&bodies=Pickup&tranmissions=any">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img width="50" height="50"
                                     src="https://cdn-icons-png.flaticon.com/512/609/609361.png" alt="" title=""
                                     class="img-fluid loaded"></div>
                            <h6>Pickup</h6>
                            <span>{{ pickup_count }} Cars</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded p-3"
                       href="{% url 'home:car_search' %}?brands=any&bodies=Wagon&tranmissions=any">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img width="50" height="50"
                                     src="https://cdn-icons-png.flaticon.com/512/2579/2579632.png" alt="" title=""
                                     class="img-fluid loaded"></div>
                            <h6>Wagon</h6>
                            <span>{{ wagon_count }} Cars</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Category End -->
{% endblock %}